<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appender for JSON format optimized for Google Cloud Logging -->
    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Append custom fields globally -->
            <customFields>{"app_name":"numisfera-backend"}</customFields>
        </encoder>
    </appender>

    <!-- Appender for human readable text for Local Development -->
    <appender name="CONSOLE_TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [WalletCtx: %X{userWallet:-SYSTEM}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Use JSON when deployed to PROD (Cloud Run) -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON" />
        </root>
    </springProfile>

    <!-- Use Readable Text for DEV (Local) -->
    <springProfile name="!prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE_TEXT" />
        </root>
    </springProfile>

</configuration>
